@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  list-style: none;
}

:root {
  --Primary-Color: #ffffff;
  --Secondary-Color: #000000;
  --Accent-Color: #ff00ff;
}
img {
  display: block;
  height: 100%;
  width: 100%;
}
